body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
p{
    width:100%;
    background-color: #0056b3;
    color: #fff;
    font-size:50px;
    font-family: fantasy;
    height: 10%;
    position: relative;
    padding:5%; 
    border-radius:15px;
    text-align: center;
}

.quiz-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    height:fit-content;
    position:relative;
   
    
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.question {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    gap: 10px;
position: relative;
}

label {
    position: relative;
    height: 200px;
    width: 45%;
    border:1px solid red;  
    margin-bottom: 10px;
    background-color: aqua;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
input[type="radio"]{
    appearance: none;
}

label:has(input[type="radio"]:checked){
    background-color: #2e7fcf;
}

label:has(input[type="radio"]:checked)~ label{
    opacity: 20%;
}

img{
    height:100px;
    width: 100px;
}

button:hover {
    background-color: #0056b3;
}

.result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
