@keyframes slideIn {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(/Frivalous/imgs/91657.jpg);
}

.container {
    width: 600px;
    padding: 20px;
    background-color: #73117b;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    
}

#slider {
    width: 50%;
    height:100%;
    background-color: #07004b;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.5s ease;
    top: 0;
    left: 0;
    z-index: 2;
    color:#9e199a;
}


.login {
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
}

.signup {
    transform: translateX(0%);
    transition: transform 0.5s ease-in-out;
}

.loginText{
    transform: translateX(0%);
    transition: transform 0.5s ease-in-out;
}

.signupText{
    transform: translateX(52%);
    transition: transform 0.5s ease-in-out;
    
}

.signupFields{
    transform: translateX(106%);
    transition: transform 0.5s ease-in-out;
    
}

.container h2 {
    margin: 0 0 15px;
}

.container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.container button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #07004b;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.container button:hover {
    background-color: #39045d;
}

.message {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}

#switchLink {
    display: inline-block; 
    padding: 10px 20px; 
    font-size: 16px; 
    font-weight: bold; 
    color: #ffffff; 
    background-color: #9e199a; 
    border: none; 
    border-radius: 5px; 
    text-align: center; 
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s, transform 0.2s;
}

#switchLink:hover {
    background-color: #73107a;
    transform: translateY(-2px);
}

#switchLink:active {
    background-color: #2e0458;
    transform: translateY(1px); 
}

#authButton{
    width:49%;
}

#username{
    width:45%;
    opacity: 60%;
}

#password{
    width:45%;
    opacity: 60%;
}

#authTitle{
    position: relative;
}