@keyframes toLogin {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes toSignUp {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}
.container {
    width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#slider {
    width: 300px;
    padding: 20px;
    background-color: #f90101;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    
}
.container h2 {
    margin: 0 0 15px;
}
.container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.container button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.container button:hover {
    background-color: #0056b3;
}
.toLeft{
    animation:toLogin 1.5s ease-in infinite;
}
.toRight{
    animation:toSignUp 1.5s ease-in infinite;
  

}
.message {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}