*{
    padding: 0%;
    margin: 0%;
}
body{
    background-image: url(../imgs/91657.jpg);
    background-size:cover;
}
@keyframes scrollScreen {
    to
    {
    left: -200px;
    } 
} 

.banner{
   width : 100%;
   margin-inline: auto;
   position: fixed;
   height: 50px;
   border:1px solid black;
   background-image:linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5));
   overflow: hidden;
   display: flex;
   align-items: center;
   justify-content: center;

}
.banText{
    position: absolute;
    left:100%;
}
.First{
    animation:scrollScreen 15s linear infinite;
}
.second{
    white-space: nowrap;
    animation:scrollScreen 15s linear 3s infinite;
}
.third{
    animation:scrollScreen 15s linear 6s infinite;
}

.fourth{
    white-space: nowrap;
    animation:scrollScreen 15s linear 9s infinite;
}

.fifth{
    animation:scrollScreen 15s linear 13s infinite;
    height: 90%;
    
}
.games{
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    overflow:hidden;
    padding-top: 150px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.FGWB{
    flex:1;
}